<!doctype html>{{# var lib =d.lib||{} }}
<html>
<head>
    <meta charset="utf-8">
    <title>{{lib.title||"标题"}}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
<div class="header">
    <div class="main">
        <a class="logo" href="javascript:;"><img src="/images/logo.png"></a>
    <span class="menu">
      <a class="this" href="{{lib.baseUrl||''}}/">开始</a>
      <a href="/">主页</a>
    </span>
    </div>
</div>
