{{ include ../inc/head}}
<div class="main layout-main">
    <div class="layout-side">
        <ul class="tree">
            <li class="this"><a href="#qianyan">前言</a></li>
            <li>
                <a href="#api_demo">API和功能演示</a>
                <ul>
                    <li><a href="#demo">demo</a></li>
                    <li><a href="#api">api</a></li>
                </ul>
            </li>
            <li>
                <a href="#down">源码和下载</a>
            </li>
        </ul>
    </div>
    <div class="layout-warp">
        <div class="floor">
            <fieldset class="h1" id="qianyan"><legend>前言</legend></fieldset>
            <div class="content">
                <p>
                    现在的大多数项目需要使用到日历js，比如用来实现签到，快速选择某一天等类似的目的。在这基础上开发一个分离css和js的日历插件。
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/download/nk.js"></script>
<script src="/download/all.js"></script>
</body>